.home-page {
  .btns-container {
    display: flex;
    justify-content: space-between;
    margin: 185px 50px 0 50px;

    .btn.episodes {
      &::after {
        content: '';
        position: absolute;
        left: 40%;
        transform: translate(-50%, 0);
        top: -150px;
        width: 100px;
        height: 100px;
        background-image: url('../../../assets/images/arrow-right.svg');
      }
    }
    .btn.characters {
      &::before {
        content: '';
        position: absolute;
        left: 60%;
        top: -150px;
        transform: translate(-50%, 0);
        width: 100px;
        height: 100px;
        background-image: url('../../../assets/images/arrow-left.svg');
        background-repeat: no-repeat;
      }
    }

    .btn.burgers {
      &::before {
        content: '';
        position: absolute;
        left: -31px;
        z-index: -1;
        top: 50%;
        transform: translate(0, -50%);
        width: 30px;
        height: 48px;
        background-image: url('../../../assets/images/chac-1.svg');
        background-repeat: no-repeat;
      }
      &::after {
        content: '';
        position: absolute;
        right: 10px;
        z-index: -1;
        top: -48px;
        width: 30px;
        height: 48px;
        background-image: url('../../../assets/images/chac-2.svg');
        background-repeat: no-repeat;
      }
      &:hover {
        &::before {
          content: '';
          position: absolute;
          left: -31px;
          z-index: -1;
          top: 50%;
          transform: translate(0, -50%);
          width: 30px;
          height: 48px;
          background-image: url('../../../assets/images/chac-1-active.svg');
          background-repeat: no-repeat;
        }
        &::after {
          content: '';
          position: absolute;
          right: 10px;
          z-index: -1;
          top: -45px;
          width: 30px;
          height: 48px;
          background-image: url('../../../assets/images/chac-2-active.svg');
          background-repeat: no-repeat;
        }
      }
    }
  }
}
