.episodes-page {
  h2 {
    text-align: center;
  }
  nav {
    text-align: center;
    select {
      background: $color-red;
      color: $color-yellow;
      font-family: $font1;
      font-size: 32px;
      border: unset;
      padding: 8px;
      cursor: pointer;
    }
  }
  ul.episodes-container {
    display: flex;
    flex-direction: column;
    padding: 0px 36px;
    li {
      display: flex;
      align-items: center;
      border: 1px solid $color-red;
      justify-content: space-between;
      @include respond-to('medium') {
        text-align: center;
      }
      @include respond-to('small') {
        flex-direction: column;
        padding: 15px;
      }
      h3 {
        font-size: 16px;
        margin: 0;
      }
      p {
        margin: 0 20px;
        font-weight: bold;
        @include respond-to('small') {
          margin-bottom: 10px;
        }
      }
    }
  }
}
