header {
  .top-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-infos {
    text-align: center;
  }
  nav {
    .nav-link {
      font-size: 18px;
      font-weight: bold;
      color: $color-red;
      margin-right: 20px;
      text-decoration: none;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
    }
    a.nav-active::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -15px;
      width: 0;
      height: 2px;
      background-color: $color-red;
      animation: growHor 0.3s linear forwards;
    }
  }
}

@keyframes growHor {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
