header {
  .top-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond-to('small') {
      justify-content: center;
    }
  }
  .logo-container {
    @include respond-to('small') {
      display: none;
    }
  }
  .header-infos {
    text-align: center;
  }
  nav.nav-dk {
    @include respond-to('small') {
      display: none;
    }
    .nav-link {
      font-size: 18px;
      font-weight: bold;
      color: $color-red;
      margin-right: 20px;
      text-decoration: none;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
    }
    a.nav-active::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -15px;
      width: 0;
      height: 2px;
      background-color: $color-red;
      animation: growHor 0.3s linear forwards;
    }
  }
  nav.nav-sm {
    display: none;
    @include respond-to('small') {
      display: block;
      text-align: center;
    }
    i {
      font-size: 36px;
      color: $color-red;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    .subnav {
      opacity: 0;
      position: relative;
      top: -20px;
      @include transition(0.3s);
      &.active {
        opacity: 1;
        top: 0;
      }
      li a {
        color: $color-red;
        text-decoration: unset;
      }
      li a.nav-active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

@keyframes growHor {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
